// Place all the styles related to the BreakingBad controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.Seasons {
    display: block;
}

.season-episodes {
    display: none;
}

.season-episodes a:link, .season-episodes a:visited {
    text-decoration:none;
    color:inherit;
}

.episode-characters a:link, .episode-characters a:visited {
    text-decoration:none;
    color:inherit;
}

