.Seasons {
    display: block;
    margin-left: 20px;

    h3 {
        color: #1E2831;
    }
    img {
        max-width:100%;
        max-height:100%;
    }
}

.image-container {
    max-width: 300px;
    max-height: auto;
}

.season-episodes {
    display: none;
    margin-left: 40px;
    color: white;
    font-weight: lighter;

    h4 {
        font-weight: lighter;
    }
}

.season-episodes a:link, .season-episodes a:visited {
    text-decoration:none;
    color:inherit;
}

.episode-characters {
    margin-left: 20px;
}

.episode-characters a:link, .episode-characters a:visited {
    text-decoration:none;
    color:inherit;
}

.episode-characters:hover {
    opacity: 0.5;
}

.seasons-container {
    margin-left: 20px;

    h3:hover {
        opacity: 0.5;
    }
    h4:hover {
        opacity: 0.5;
    }
}

.episode-container {
    margin-left: 20px;

    span {
        color: #1E2831;
    }
}
