// Place all the styles related to the BreakingBad controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.Seasons {
    display: block;
    margin-left: 20px;

    h3 {
        color: #1E2831;
    }
    img {
        width: 300px;
    }
}

.season-episodes {
    display: none;
    margin-left: 40px;
    color: white;
    font-weight: lighter;
    h4 {
        font-weight: lighter;
    }
}

.season-episodes a:link, .season-episodes a:visited {
    text-decoration:none;
    color:inherit;
}

.episode-characters a:link, .episode-characters a:visited {
    text-decoration:none;
    color:inherit;
}


