<h1>Series</h1>

<div class="series-option">
    <%= link_to image_tag("breakingbad.jpeg"), breaking_bad_index_path %>
    <h3><%= link_to "Breaking Bad", breaking_bad_index_path %></h3>   
</div>

<div class="series-option">
    <%= link_to image_tag("bettercall.jpeg"), better_call_saul_index_path %>
    <h3><%= link_to "Better Call Saul", better_call_saul_index_path %></h3> 
</div>




